---
layout: single
author_profile: true
---

{% capture md %}
# Welcome!

I'm currently a machine learning engineer working on Social Good problems at Facebook. 
As a member of the [Charitable Giving](http://facebook.com/fundraisers/) Ranking team, I use
machine learning techniques to empower people on Facebook to raise money 
for Non-Profit and Personal [causes](https://www.cnbc.com/2018/08/16/facebook-users-raised-300-million-in-birthday-donations.html) that they feel passionate about. 
Before joining Facebook, I double majored in [Computer Science](https://csci.williams.edu/) and [English Literature](https://english.williams.edu/) at the wonderful Williams College in Massachussets.

Broadly, I'm interested in both applications and theoretical underpinnings of machine learning. 
Some of the topics I'm most fascinated by include generative networks and improving the robustness and transparency of deep learning models. 
My past academic research in machine learning has focused on deep generative networks (GANs) working mostly with image-based datasets. 
At Facebook, I build and improve large-scale production rankings models across a multitude of domains (News Feed, NLP, etc...) 

Check out the Projects tab for more detailed explanations of my past work.

{% endcapture %}
{{md | markdownify }}
